<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Eclipse QVTo Interim Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/eclipse/updates/I-builds"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/milestone"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.ocl.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/interim"/>
    <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/cbi/updates/license"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="com.google.guava" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/S20190219190953/repository"/>
  </location>
</locations>
</target>
