<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="JDT blackbox implementation provider"
         point="org.eclipse.m2m.qvt.oml.blackboxProvider">
      <provider
            class="org.eclipse.m2m.internal.qvt.oml.jdt.runtime.blackbox.JdtBlackboxProvider">
      </provider>
   </extension>

    <extension
          point="org.eclipse.debug.core.statusHandlers">
       <statusHandler
             class="org.eclipse.m2m.internal.qvt.oml.jdt.runtime.blackbox.NavigateToJavaElementHandler"
             code="500"
             id="org.eclipse.m2m.qvt.oml.runtime.jdt.navigateToJavaElementHandler"
             plugin="org.eclipse.m2m.qvt.oml.editor.ui"/>       
    </extension>    

   <extension point="org.eclipse.debug.core.launchDelegates">
       <launchDelegate id="org.eclipse.m2m.qvt.oml.debug.core.QVTODebugApplicationDelegate"            
             delegate="org.eclipse.m2m.internal.qvt.oml.jdt.debug.ui.launch.QVTODebugApplicationConfiguration"
             modes="debug"
             name="%QVTOAppLaunchConfig.name"
             sourceLocatorId="org.eclipse.m2m.qvt.oml.debug.srclookup.QVTOSourceLookupDirector"
             sourcePathComputerId="org.eclipse.m2m.qvt.oml.debug.srclookup.QVTOSourcePathComputer"
             type="org.eclipse.m2m.qvt.oml.QVTOApplicationConfiguration">
          <modeCombination
                modes="debug"
                perspective="org.eclipse.debug.ui.DebugPerspective">
          </modeCombination>
       </launchDelegate>
   
       <launchDelegate id="org.eclipse.m2m.qvt.oml.debug.core.QVTOApplicationDelegate"            
             delegate="org.eclipse.m2m.internal.qvt.oml.jdt.debug.ui.launch.QVTOApplicationConfiguration"
             modes="run"
             name="%QVTOAppLaunchConfig.name"
             type="org.eclipse.m2m.qvt.oml.QVTOApplicationConfiguration">
       </launchDelegate>
    </extension>
    
    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup id="org.eclipse.m2m.qvt.oml.QVTODebugApplicationConfigTabGroup"
        	type="org.eclipse.m2m.qvt.oml.QVTOApplicationConfiguration"
            class="org.eclipse.m2m.internal.qvt.oml.jdt.debug.ui.launch.QVTODebugApplicationConfigurationTabGroup">
            
          <launchMode mode="debug"/>
        </launchConfigurationTabGroup>

        <launchConfigurationTabGroup id="org.eclipse.m2m.qvt.oml.QVTOApplicationConfigTabGroup"
        	type="org.eclipse.m2m.qvt.oml.QVTOApplicationConfiguration"
            class="org.eclipse.m2m.internal.qvt.oml.jdt.debug.ui.launch.QVTOApplicationConfigurationTabGroup">
            
          <launchMode mode="run"/>
        </launchConfigurationTabGroup>
    </extension>
    <extension
          point="org.eclipse.jdt.core.compilationParticipant">
       <compilationParticipant
             class="org.eclipse.m2m.internal.qvt.oml.jdt.runtime.blackbox.ClassReloadEnforcer"
             createsProblems="false"
             id="org.eclipse.m2m.internal.qvt.oml.jdt.runtime.blackbox.ClassReloadEnforcer"
             modifiesEnvironment="true">
       </compilationParticipant>
    </extension>        
    
</plugin>
